name: CI-CD

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Linters (Black, Isort, Flake8)
      run: |
        black --check .
        isort --check-only .
        flake8 .

    - name: Run Tests with Coverage
      env:
        REDIS_URL: redis://localhost:6379
        DATABASE_URL: postgresql+asyncpg://user:pass@localhost/db # Mock URL, as we mock DB in tests
      run: |
        pytest